<div class="posts-container">
  {{#each userPosts}}
    <div class="post-card">
    <div>
      <div class="card-header">
        <h2> 
          <a href="dashboard/edit/{{id}}">{{title}}</a> 
        </h2>
        <div class="card-data">
          <p>Posted by {{user.username}} on {{postDate createdAt}}</p>
        </div>
      </div>
    
      <div class="card-body">
        {{body}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
